In [1]:
import pandas as pd

In [3]:
data = pd.Series([0.25,00.5,00.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
data = pd.Series([0.25,00.5,00.75,1.05], index=["a","b","c","d"])
data

a    0.25
b    0.50
c    0.75
d    1.05
dtype: float64

In [10]:
data["c"]

0.75

In [13]:
populacao = {"Artista": "Roberto", "musica": "O amor", "Artista": "Ivete", "musica":"meu amor"}
dados = pd.Series(populacao)
dados

Artista       Ivete
musica     meu amor
dtype: object

In [15]:
acesso = {"Artista": 5, "musica": 6, "Artista": 3, "musica":1}
dados_acesso = pd.Series(acesso)
dados_acesso

Artista    3
musica     1
dtype: int64

In [17]:
states = pd.DataFrame({"Primeira":dados, "Segunda": dados_acesso})
states

         Primeira  Segunda
Artista     Ivete        3
musica   meu amor        1

In [18]:
states.values

array([['Ivete', 3],
       ['meu amor', 1]], dtype=object)

In [20]:
states.columns

Index(['Primeira', 'Segunda'], dtype='object')

In [21]:
states.index

Index(['Artista', 'musica'], dtype='object')

In [22]:
import numpy as np